# Transformación de datos

In [3]:
import pandas as pd

headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

file_path = "auto.csv"

df = pd.read_csv(file_path, names=headers)

In [4]:
df.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?

In [7]:
df.describe().round(2)

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.00,205.00,205.00,205.00,205.00,205.00,205.00,205.00,205.00,205.00
mean,0.83,98.76,174.05,65.91,53.72,2555.57,126.91,10.14,25.22,30.75
std,1.25,6.02,12.34,2.15,2.44,520.68,41.64,3.97,6.54,6.89
min,-2.00,86.60,141.10,60.30,47.80,1488.00,61.00,7.00,13.00,16.00
25%,0.00,94.50,166.30,64.10,52.00,2145.00,97.00,8.60,19.00,25.00
50%,1.00,97.00,173.20,65.50,54.10,2414.00,120.00,9.00,24.00,30.00
75%,2.00,102.40,183.10,66.90,55.50,2935.00,141.00,9.40,30.00,34.00
max,3.00,120.90,208.10,72.30,59.80,4066.00,326.00,23.00,49.00,54.00

# 1. - Procedimiento para gestionar datos perdidos

<ol>
    <ul>1.1.- Identificar datos perdidos</ul>
    <ul>1.2.- Tratamiento de datos perdidos</ul>
    <ul>1.3.- Corregir formato de datos</ul>
</ol>

## 1.1.- Identificar datos perdidos

In [10]:
nro_price_validate = df['price'].loc[df['price'] !='?'].count()
nro_price_validate

201

In [11]:
nro_length_validate = df['length'].loc[df['length'] !='?'].count()
nro_length_validate

205

In [12]:
nro_normalized_losses_validate = df['normalized-losses'].loc[df['normalized-losses'] !='?'].count()
nro_normalized_losses_validate

164

In [13]:
import numpy as np

# replace "?" to NaN
df.replace("?", np.nan, inplace = True)
df.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [14]:
# Se obtiene las variables con datos perdidos

missing_data = df.isnull()
missing_data.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [50]:
# Contar datos perdidos por columnas

for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print("")

symboling
False    201
Name: symboling, dtype: int64

normalized-losses
False    164
True      37
Name: normalized-losses, dtype: int64

make
False    201
Name: make, dtype: int64

fuel-type
False    201
Name: fuel-type, dtype: int64

aspiration
False    201
Name: aspiration, dtype: int64

num-of-doors
False    201
Name: num-of-doors, dtype: int64

body-style
False    201
Name: body-style, dtype: int64

drive-wheels
False    201
Name: drive-wheels, dtype: int64

engine-location
False    201
Name: engine-location, dtype: int64

wheel-base
False    201
Name: wheel-base, dtype: int64

length
False    201
Name: length, dtype: int64

width
False    201
Name: width, dtype: int64

height
False    201
Name: height, dtype: int64

curb-weight
False    201
Name: curb-weight, dtype: int64

engine-type
False    201
Name: engine-type, dtype: int64

num-of-cylinders
False    201
Name: num-of-cylinders, dtype: int64

engine-size
False    201
Name: engine-size, dtype: int64

fuel-system
False    201
Name: fuel-system, dtype: int64

bore
False    201
Name: bore, dtype: int64

stroke
False    197
True       4
Name: stroke, dtype: int64

compression-ratio
False    201
Name: compression-ratio, dtype: int64

horsepower
False    199
True       2
Name: horsepower, dtype: int64

peak-rpm
False    199
True       2
Name: peak-rpm, dtype: int64

city-mpg
False    201
Name: city-mpg, dtype: int64

highway-mpg
False    201
Name: highway-mpg, dtype: int64

price
False    201
Name: price, dtype: int64

<ol>
    <li>"normalized-losses": 41 datos faltantes</li>
    <li>"num-of-doors": 2 datos faltantes</li>
    <li>"bore": 4 datos faltantes</li>
    <li>"stroke" : 4 datos faltantes</li>
    <li>"horsepower": 2 datos faltantes</li>
    <li>"peak-rpm": 2 datos faltantes</li>
    <li>"price": 4 datos faltantes</li>
</ol>

<h2 id="deal_missing_values">1.2.- Tratamiento de datos faltantes</h2>

<b>Como tratar con datos faltantes?</b>

<ol>
    <li>borrar data<br>
        a. borrar la fila entera<br>
        b. borrar la columna entera<br>
    </li>
    <li>remplazar data<br>
        a. remplazar el promedio<br>
        b. reemplazar la moda<br>
        c. reemplazar basado en una funcion<br>
    </li>
</ol>

Whole columns should be dropped only if most entries in the column are empty. In our dataset, none of the columns are empty enough to drop entirely.
We have some freedom in choosing which method to replace data; however, some methods may seem more reasonable than others. We will apply each method to many different columns:

Las columnas enteras solo deben descartarse si la mayoría de las entradas de la columna están vacías. En nuestro conjunto de datos, ninguna de las columnas está lo suficientemente vacía como para borrarlo por completo.
Tenemos cierta libertad para elegir qué método reemplazar datos dependiendo la cantidad de datos faltantes; sin embargo, algunos métodos pueden parecer más razonables que otros. Se aplicaran los siguientes método :

<b>Reemplazos por la media:</b>
<ul>
    <li>"normalized-losses": 41 datos perdidos, se reemplazar por la media</li>
    <li>"stroke": 4 datos perdidos, se reemplazar por la media</li>
    <li>"bore": 4 datos perdidos, se reemplazar por la media</li>
    <li>"horsepower": 2 datos perdidos, se reemplazar por la media</li>
    <li>"peak-rpm": 2 datos perdidos, se reemplazar por la media</li>
</ul>

<b>Reemplazo por la moda:</b>
<ul>
    <li>"num-of-doors": 2 datos perdidos, se reemplazar por la moda que es : "four". 
    </li>
</ul>

<b>Eliminacion de toda una fila</b>
<ul>
    <li>"price": 4 datos perdidos, se elimina la fila
        <ul>
            <li>Razón: El precio es lo que queremos predecir. Cualquier entrada de datos sin datos de precios no se puede utilizar para la predicción; por lo tanto, cualquier fila ahora sin datos de precios no nos es útil</li>
        </ul>
    </li>
</ul>

### 1.- Reemplazo de datos faltantes por la media

In [38]:
# bore
avg_bore=df['bore'].astype('float').mean(axis=0)
avg_bore = round(avg_bore,4)
print("Average of bore:", avg_bore)
df["bore"].replace(np.nan, avg_bore, inplace=True)

Average of bore: 3.3307

### Ejercicio : reemplazar la media para los campos 
<ul>
    <li>"normalized-losses": 41 datos perdidos, se reemplazar por la media</li>
    <li>"stroke": 4 datos perdidos, se reemplazar por la media</li>
    <li>"horsepower": 2 datos perdidos, se reemplazar por la media</li>
    <li>"peak-rpm": 2 datos perdidos, se reemplazar por la media</li>
</ul>

### 2.- Reemplazo de datos faltantes por la moda ( Reemplazo de datos faltantes para variables categoricas )

In [41]:
# Buscando la moda
df["num-of-doors"].value_counts()

four    115
two      86
Name: num-of-doors, dtype: int64

In [40]:
# Otra manera de visualizar moda
df['num-of-doors'].value_counts().idxmax()

'four'

In [42]:
# Se reemplaza con la moda
df["num-of-doors"].replace(np.nan, "four", inplace=True)

### 3.- Eliminación de datos faltantes para la variable dependientes

In [47]:
df.dropna(subset=["price"], axis=0, inplace = True)

# reset index, porque se ha borrado 2 lineas
# df.reset_index(drop=True, inplace=True)

In [45]:
# missing_data = df.isnull()

# for column in missing_data.columns.values.tolist():
#    print(column)
#    print (missing_data[column].value_counts())
#    print("")

symboling
False    201
Name: symboling, dtype: int64

normalized-losses
False    164
True      37
Name: normalized-losses, dtype: int64

make
False    201
Name: make, dtype: int64

fuel-type
False    201
Name: fuel-type, dtype: int64

aspiration
False    201
Name: aspiration, dtype: int64

num-of-doors
False    201
Name: num-of-doors, dtype: int64

body-style
False    201
Name: body-style, dtype: int64

drive-wheels
False    201
Name: drive-wheels, dtype: int64

engine-location
False    201
Name: engine-location, dtype: int64

wheel-base
False    201
Name: wheel-base, dtype: int64

length
False    201
Name: length, dtype: int64

width
False    201
Name: width, dtype: int64

height
False    201
Name: height, dtype: int64

curb-weight
False    201
Name: curb-weight, dtype: int64

engine-type
False    201
Name: engine-type, dtype: int64

num-of-cylinders
False    201
Name: num-of-cylinders, dtype: int64

engine-size
False    201
Name: engine-size, dtype: int64

fuel-system
False    201
Name: fuel-system, dtype: int64

bore
False    201
Name: bore, dtype: int64

stroke
False    197
True       4
Name: stroke, dtype: int64

compression-ratio
False    201
Name: compression-ratio, dtype: int64

horsepower
False    199
True       2
Name: horsepower, dtype: int64

peak-rpm
False    199
True       2
Name: peak-rpm, dtype: int64

city-mpg
False    201
Name: city-mpg, dtype: int64

highway-mpg
False    201
Name: highway-mpg, dtype: int64

price
False    201
Name: price, dtype: int64

In [46]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

 ## 1.3.- Correción de formato de datos

In [24]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

<p> Como se observa, algunas columnas no son del tipo de datos correcto. Las variables numéricas deben tener el tipo 'float' o 'int', y las variables con cadenas como las categorías deben tener el tipo 'object'. Por ejemplo, las variables 'bore' y 'stroke' son valores numéricos que describen los motores, por lo que deberíamos esperar que sean del tipo 'float' o 'int'; sin embargo, se muestran como tipo 'object'. Tenemos que convertir los tipos de datos en un formato adecuado para cada columna utilizando el método "astype ()". </p>

In [66]:
df["price"] = df["price"].astype("float")

In [67]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                float64
city-km              float64
dtype: object

### Ejercicio , cambiar el tipo de datos de las variables predictoras:

   - "bore", "stroke", "peak-rpm" a float
   - "normalized-losses" a int

In [68]:
#df["normalized-losses"]
#df["normalized-losses"] = df["normalized-losses"].astype("int")

<h1 id = "data_standardization"> 2.- Estandarización de datos </h1>
<p>
Los datos generalmente se recopilan de diferentes formatos.
(La estandarización de datos también es un término para un tipo particular de normalización de datos, donde restamos la media y la dividimos por la desviación estándar)
</p>
    
<b> ¿Qué es la estandarización? </b>
<p> La estandarización es el proceso de transformación de datos en un formato común que permite al investigador hacer una comparación significativa.
</p>

<b> Ejemplo </b>
<p> Transformar mpg a km: </p>
<p> En nuestro conjunto de datos, las columnas de consumo de combustible "city-mpg" y "highway-mpg" están representadas por unidad de mpg (millas por galón). Supongamos que estamos desarrollando una aplicación donde que acepta el consumo de combustible con el estándar km </p>
<p> Tendremos que aplicar <b> transformación de datos </b> para transformar mpg en km? </p>

In [69]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-km
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,11.190
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,11.190
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,12.368
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,9.792
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,13.056

In [70]:
# Convirtiendo mpg a km : (235 dividido por mpg)
df['city-km'] = round(235/df["city-mpg"],3)

# mostramos datos
df[['city-mpg','city-km']].head()

   city-mpg  city-km
0        21   11.190
1        21   11.190
2        19   12.368
3        24    9.792
4        18   13.056

### Ejercicio , transformar la variables predictora "highway-mpg" a kilometros en la nueva variable predictora "highway-km"


<h2 id = "data_normalization"> 3.- Normalización de datos </h2>

<b> ¿Por qué la normalización? </b>
<p> La normalización es el proceso de transformar valores de varias variables en un rango similar. Las normalizaciones típicas incluyen escalar la variable para que el promedio de la variable sea 0, escalar la variable para que la varianza sea 1 o escalar la variable para que los valores de la variable varíen de 0 a 1
</p>

<b> Ejemplo </b>
<p> Para demostrar la normalización, digamos que queremos cambiar la escala de "length", "width" y  "height"</p>
<p> <b> Objetivo: </b> desea Normalizar estas variables para que su valor oscile entre 0 y 1. </p>
<p> <b> Enfoque: </b> reemplace el valor original por (valor original) / (valor máximo) </p>

In [72]:
# replace (original value) by (original value)/(maximum value)
df['length'] = df['length']/df['length'].max()
df['width'] = df['width']/df['width'].max()

In [73]:
# mostramos datos
df[['length','width']].head()

     length     width
0  0.811148  0.890278
1  0.811148  0.890278
2  0.822681  0.909722
3  0.848630  0.919444
4  0.848630  0.922222

### Ejercicio , normalizar la variable predictora "height"

<h2 id = "binning"> 4.- Binning </h2>

<b> ¿Por qué binning? </b>
<p>
    Binning es un proceso de transformación de variables numéricas continuas en variables categóricos discretos.
</p>

<b> Ejemplo: </b>
<p> En nuestro conjunto de datos, "horsepower" es una variable con un valor real que oscila entre 48 y 288, tiene 57 valores únicos. ¿Qué sucede si solo nos importa la diferencia de precio entre los automóviles con high horsepower, medium horsepower, y little horsepower (3 tipos)? ¿Podemos reorganizarlos en tres 'categorias' para simplificar el análisis? </p>

<p> Usaremos el método Pandas 'cut' para segmentar la columna 'caballos de fuerza' en 3 bins </p>

In [ ]:
df["horsepower"]=df["horsepower"].astype(int, copy=True)

In [ ]:
# %matplotlib inline
import matplotlib as plt
from matplotlib import pyplot
plt.pyplot.hist(df["horsepower"])

# set x/y labels and plot title
plt.pyplot.xlabel("horsepower")
plt.pyplot.ylabel("count")
plt.pyplot.title("horsepower bins")